.menu ul{
    list-style-type: none;
}
.menu ul li{
    display: inline-block;
}
header, footer{
    text-align: center
}
.container{
    text-align: center;
}   
.input-holder {
    text-align: left;
    width: 240px;
    margin: 0 auto 5px auto;
}
.input-holder input{
    float: right;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top:1px solid black;
    background-color: whitesmoke;
    color: black;
    text-align: center;
 }
 .error{
     color:red;
 }
 .success{
     color: green;
 }
 #bookImage{
     width: 200px;
     height: 200px;
 }
